body *{
    margin: 0px;
    padding: 0px;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
#game{
    background-color: rgb(196, 234, 252);
    border-radius: 5px;
    height: 100vh;
    padding-top: 1%;
}
#computer-area{
    background-color: rgb(228, 141, 141);
    border-radius: 5px;
    height: 26%;
    margin: 2%;
    display:flex;
    align-items:center;
    margin-top: 1%; 
    
}#game-area{
    
    border-radius: 5px;
    height: 36%;
    margin: 2%;
    display:flex;
    align-items:center;
}#player-area{
    background-color: rgb(228, 141, 141);
    border-radius: 5px;
    height: 26%;
    margin: 2%;
    display:flex;
    align-items:center;
}
.all-cards{
    height: 96%;
    width: 70%;
    margin: 2%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    
    grid-gap: 15px;
}
.names{
    margin-left: 2%;
}
#deck {
    background-color: rgba(231, 16, 16, 0.966);
    height: 50%;
    margin: 2%;
    margin-left: 4%;
    border-radius: 5px;
    text-align: center;

}
#stack{
    background-color: rgb(25, 10, 228);
    height: 50%;
    margin: 2%;
    margin-left: 20%;
    border-radius: 5px;
    text-align: center;

}
.ddeck{
    
    border-radius: 5px;
    height: 100%; 
    border: 2px solid rgb(235, 201, 201);
}
.card{
    background-color: red;
    height: 70px;
    width: 15px;
    border-radius: 5px;

}
.ddeck:hover{
    border: 2px solid red;
}

@media(min-width:600px){
    #game{
        background-color: rgb(196, 234, 252);
        border-radius: 5px;
        height: 100vh;
        padding-top: 1%;
        width: 70vw;
        margin-left: 15vw;
    }
    #stack{
        background-color: rgb(25, 10, 228);
        height: 50%;
        margin: 2%;
        margin-left: 30%;
        border-radius: 5px;
    
    }
}